* {
  box-sizing: border-box;
  /* margin: 0; */
  /* padding: 0; */
  /* border: solid 1px black; */
}

body {
  padding: 50px;
  display: flex;
  justify-content: center;
  background-color: #02005b;
  color: rgb(255, 255, 255, 0.95);
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 1px;
}

.resume {
  padding: 50px;
  display: flex;
  max-width: 950px;
  border: solid 8px white;
  position: relative;
}

.left,
.right {
  padding: 15px;
}

.left {
  flex: 5;
  padding-right: 50px;
  border-right: solid 1px #ff7168;
}

.right {
  flex: 7;
  padding-left: 50px;
  padding-top: 150px;
}

ul {
  padding: 0;
  list-style: none;
}

h2 {
  margin: 0;
  margin-bottom: 25px;
  font-weight: 400;
}
h2::after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 8px;
  background-color: #ff7168;
  margin-left: 10px;
}

h4 {
  margin: 0;
  margin-top: 40px;
  opacity: 0.8;
  font-weight: 400;
}
a {
  text-decoration: none;
  color: white;
}

hr {
  border: none;
  border-bottom: solid 4px #ff7168;
  width: 40%;
  margin-left: 0;
}
.decoration {
  width: 300px;
  height: 140px;
  background: linear-gradient(135deg, #ff5f5f, #ffffae);
  border-radius: 70px 0 0 70px; /*角度從左上 右上 右下 左下*/
  position: absolute;
  right: 0;
  top: 50px;
}
.ListExperience > li {
  display: flex;
  margin-bottom: 30px;
}

.ListExperience li ul {
  padding-left: 10px;
  margin-left: 10px;
  border-left: solid 4px white;
}

.ListExperience > li:nth-child(1) ul {
  border-color: #ff5f5f;
}

.ListExperience > li:nth-child(2) ul {
  border-color: #ffa582;
}

.ListExperience > li:nth-child(3) ul {
  border-color: #ff5f5f;
}

.ListExperience > li:nth-child(4) ul {
  border-color: #ffa582;
}

.ListSlills {
  display: flex;
  flex-wrap: wrap;
}
.ListSlills li {
  width: 33%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(225, 113, 104, 0.4);
  position: relative;
  overflow: hidden;
}

.circle::after {
  content: "";
  display: block;
  background-color: #02005b;
  width: calc(100% - 20px); /*減號之間要有空白*/
  height: calc(100% - 20px);
  border-radius: 50%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /*偏移*/
}
.p90,
.p180,
.p270,
.p360 {
  width: 50%;
  height: 50%;
  position: absolute;
  left: 50%;
  top: 0;
  background-color: #ff5f5f;
}

.p180 {
  top: 50%;
}

.p270 {
  top: 50%;
  left: 0;
}

.p360 {
  top: 0;
  left: 0;
}

.ListLanguage > li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}
.bar {
  width: 200px;
  height: 8px;
  border: solid 2px #ff5f5f;
  border-radius: 5px;
  vertical-align: bottom;
  /* margin-left: 100px; */
}

.value {
  height: 100%;
  width: 60%;
  background-color: #ff5f5f;
}

.p100 {
  width: 100%;
}

.p50 {
  width: 50%;
}

.p70 {
  width: 70%;
}

.btn {
  border: #ff5f5f 3px solid;
  padding: 5px 10px;
  margin-right: 10px;
}

.fill {
  background-color: #ff5f5f;
}
