* {
  box-sizing: border-box;
}
.wrapper {
  background-color: #4a5b9b;
  width: 800px;
  height: 1024px;
  margin: 0 auto;
  padding-left: 20px;
  padding: 20px;
  display: flex;
}
.wrapper > .content {
  background-color: #faf0e6;
  height: 100%;
  width: 300px;
  /* border-style: dashed solid; */
  display: inline-block;
  padding: 1%;
}
.right-content {
  height: 100%;
  width: 460px;
  background-color: bisque;
}

.avatar {
  background-color: bisque;
  width: 100%;
  height: 30%;
}

.avatar > .avatar2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 50%;
  position: relative;
}

.avatar2::after {
  text-align: center;
  content: "經歷";
  width: 180px;
  height: 24.8px;
  background-color: white;
  border-radius: 30px;
  border: 2px solid #4a5b9b;
  position: absolute;
  right: -160px;
  top: 50px;
}

.avatar2::after:hover {
  background-color: #4a5b9b; /* 更改背景颜色 */
  color: white; /* 更改文字颜色 */
}
.avatar > .avatar2 > .resume-pic {
  background-image: url("/resume-pic.jpg");
  background-size: cover;
  /* height: 40%; */
  width: 40%;
  border-radius: 50%;
  margin: 20px 20px 5px 20px;
}

.name {
  text-align: left;
  font-family: sans-serif;
  margin-bottom: 8px;
  padding-left: 30px;
  font-size: 25px;
  margin-top: 0;
}

.about-me {
  width: 180px;
  text-align: center;
  border: 2px solid #4a5b9b;
  border-radius: 30px;
  background-color: white;
  margin-left: 80px;
}

.aboutme-content {
  width: 100%;
  height: 100%;
  background-color: bisque;
  padding: 10px;
}
.about-me:hover {
  background-color: #4a5b9b;
  color: #fff;
}

.contact-info {
  background-color: bisque;
  width: 100%;
  height: 20%;
  text-align: center;
}

.contact-info > .title {
  background-color: #bfa588;
  width: 100%;
  height: 15%;
  padding-top: 3px;
  border-style: dotted none;
  line-height: 1;
}
.contact-info > .content {
  background-color: bisque;
  height: 85%;
  padding: 29px 15px;
  text-align: left;
  position: relative;
}

.contact-info > .content::after {
  position: absolute;
  content: "自傳";
  right: -55%;
  top: 40%;
  background-color: white;
  width: 180px;
  height: 24.8px;
  text-align: center;
  border: 2px solid #4a5b9b;
  border-radius: 30px;
}

.fa-phone-volume,
.fa-square-envelope,
.fa-github {
  /* padding: 10px 29px; */
  font-size: 20px;
  /* display: block; */
  margin: 10px;
}
.phone,
.mail,
.github {
  display: inline-block;
}
.ed {
  background-color: bisque;
  width: 100%;
  height: 20%;
  text-align: center;
}
.ed > .title {
  background-color: #bfa588;
  width: 100%;
  height: 16%;
  line-height: 1;
  padding-top: 3px;
  border-style: dotted none;
}
.ed > .content {
  background-color: bisque;
  height: 85%;
  text-align: center;
  padding: 7%;
}

.ed > .content > .details {
  background-color: #e0e0e0;
  margin-bottom: 20px;
  border-radius: 5px;
}

.date {
  font-weight: bold;
  color: #333;
  font-size: 13px;
}
.school {
  font-size: 1.2em;
  color: #333;
}

.language {
  background-color: bisque;
  width: 100%;
  height: 30%;
}

.language > .title {
  background-color: #bfa588;
  width: 100%;
  height: 10%;
  text-align: center;
  line-height: 1;
  padding-top: 3px;
  border-style: dotted none;
}
.language > .content {
  height: 90%;
  padding: 30px;
  align-items: center;
  justify-content: center;
}
.skill {
  /* width: 100%; */
  max-width: 600px;
}

.skill-name {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5;
}

.skill-bar {
  height: 25px;
  background-color: black;
  border-radius: 50px;
  margin-bottom: 20px;
}

.skill-per {
  height: 25px;
  background-color: #bfa588;
  padding-left: 5px;
}
.skill-per::before {
  content: attr(per);
}

.title:hover ~ .content {
  background-color: #faf0e6;
}
/* ~ .content */

.title:hover ~ .content .details {
  background: #ff88c2;
}
.ed .title:hover ~ .content .details {
  color: white; /* 使文字变成白色 */
}

.right-content {
  /* position: relative; */
  padding-top: 9%;
}

.right-content::before {
  content: "";
  width: 3px;
  background-color: #333;
  height: 70%;
  position: absolute;
  right: 50%;
  top: 70%;
}
.time-line {
  display: flex;
  height: 300px;
  border-style: dotted solid dotted none;
  padding-top: 32px;
}
.holiday {
  padding: 5px;
  color: #333;
  width: 180px;
  height: 230px;
  background-color: #bfa588;
  /* border: 2px solid #4a5b9b; */
  position: relative;
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 80% 100%, 0% 100%);
  margin-right: 8%;
  margin-left: 8%;
}
.work-detail {
  position: absolute;
  transform: scale(0.9); /*縮小比例調整*/
}

.redsun {
  padding: 5px;
  color: #333;
  width: 180px;
  height: 230px;
  background-color: #bfa588;
  /* border: 2px solid #4a5b9b; */
  position: relative;
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 80% 100%, 0% 100%);
}
.school-exp > .school-exp-title {
  margin-top: 17%;
  margin-left: 25%;
  position: relative;
}

.school-exp > .school-exp-title::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: #4a5b9b;
  top: 6px;
  left: -12%;
}

.school-exp > .school-exp-content {
  width: 70%;
  margin-left: 25%;
  margin-top: 1%;
}

.work-attitude-title {
  margin-top: 5%;
  margin-left: 25%;
  position: relative;
}
.work-attitude-title::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: #4a5b9b;
  top: 9px;
  left: -12%;
}

.work-attitude-content {
  margin-top: 1%;
  margin-left: 25%;
  width: 70%;
}
